{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}


<section class="row row_wide container_wide">
	<article class="row_narrow container_medium article_left">
		<img src="../img/dessert.png" alt="photo dessert" title="dessert">
	</article>
	<aside class="row_medium container_narrow aside_right">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet dui vitae nisl feugiat aliquet. Donec in ornare nisi, vitae rutrum sapien. Vivamus mattis faucibus tristique. Nunc imperdiet gravida volutpat. Sed lacinia ornare enim vel ultricies. Vivamus convallis dolor odio, eget rhoncus ex iaculis ut. Sed velit lorem, tempus a tincidunt nec, bibendum vitae massa. Maecenas vitae augue in metus pretium accumsan vel aliquet orci. Maecenas vitae vehicula lorem, vel varius ligula. Praesent sed odio lacinia, dapibus nisi ut, cursus dui.</p>
		
	</aside>				

</section>
<section class="row row_wide container_wide">
	<article class="row_narrow container_medium article_right">
		<img src="../img/dessert.png" alt="photo dessert" title="dessert">
	</article>
	<aside class="row_medium container_narrow aside_left">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet dui vitae nisl feugiat aliquet. Donec in ornare nisi, vitae rutrum sapien. Vivamus mattis faucibus tristique. Nunc imperdiet gravida volutpat. Sed lacinia ornare enim vel ultricies. Vivamus convallis dolor odio, eget rhoncus ex iaculis ut. Sed velit lorem, tempus a tincidunt nec, bibendum vitae massa. Maecenas vitae augue in metus pretium accumsan vel aliquet orci. Maecenas vitae vehicula lorem, vel varius ligula. Praesent sed odio lacinia, dapibus nisi ut, cursus dui.</p>
	</aside>				

</section>
<section class="row row_wide container_wide ">
	<article class="row_narrow container_medium article_left">
		<img src="../img/dessert.png" alt="photo dessert" title="dessert">
	</article>
	<aside class="row_medium container_narrow aside_right">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet dui vitae nisl feugiat aliquet. Donec in ornare nisi, vitae rutrum sapien. Vivamus mattis faucibus tristique. Nunc imperdiet gravida volutpat. Sed lacinia ornare enim vel ultricies. Vivamus convallis dolor odio, eget rhoncus ex iaculis ut. Sed velit lorem, tempus a tincidunt nec, bibendum vitae massa. Maecenas vitae augue in metus pretium accumsan vel aliquet orci. Maecenas vitae vehicula lorem, vel varius ligula. Praesent sed odio lacinia, dapibus nisi ut, cursus dui.</p>
	</aside>				

</section>

{% endblock %}